@charset "utf-8";
*{margin:0;padding:0}
body,html{height:100%}
a{text-decoration:none}
img{display:block;border:0}
input{outline:0;border:0}
.clearfix:after{content:"";clear:both;display:block;height:0;visibility:hidden;overflow:hidden}
.clearfix{zoom:1}
body{background:#fff;font-family:sans-serif;overflow:auto;display:flex;flex-direction:column;min-width:600px;min-height:600px}
header{display:flex;align-items:center;margin:0 6px 4px;max-height:50px;padding-top:8px}
header>a{font-size:20px;color:#5778e2;align-self:flex-end}
header em{flex:1}
section{width:100%}
section h2{border:1px solid #ccc;border-bottom:none;font-size:20px;line-height:25px;float:left;padding:2px 19px;cursor:pointer;margin-right:5px;font-weight:400}
.tabon{background-color:#ddd}
.taboff:hover{background-color:#eee}
.buttonBox{float:right}
.buttonBox input[type=text]{display:inline-block;width:160px;height:24px;font-size:16px;border:1px solid #999;margin:1px 5px;vertical-align:top;background-color:#eee;padding:0 2px}
.buttonBox input[type=file]{display:none}
button{margin:1px 5px;padding:1px 10px;border-radius:4px;border:1px solid #ddd;font-size:large;background-color:#eee;color:#000;outline:0}
button.primary>img{opacity:1}
button>img{opacity:.6;vertical-align:text-bottom}
button:hover>img{opacity:1}
button:hover{box-shadow:2px 2px 5px #888}
.icon21{height:21px;width:21px;background-image:url(../media/icons.png)}
.open{background-position:0 0}
.save{background-position:-21px 0}
.trash{background-position:-42px 0}
.run{background-position:-63px 0}
.stop{background-position:-84px 0}
.workspace{border-top:1px solid #ddd;flex:1}
.workspace *{box-sizing:border-box}
.workspace div:first-child{float:left;width:85%;height:100%}
.workspace div:last-child{float:right;width:15%;height:100%;display:flex;flex-direction:column}
.workspace span{margin-left:3px;font-weight:700;float:left;font-size:18px;line-height:30px;height:30px}
.workspace button{float:right;margin:2px 5px 2px 5px}
.workspace textarea{padding:5px;resize:none;outline:0;border:1px solid #ccc;width:99%;overflow:auto;font-family:Consolas,'Courier New',monospace;font-size:16px;flex:1;background-color:#eee}
.content{visibility:hidden;margin:0;position:absolute;direction:ltr}
pre.content{box-sizing:border-box;overflow:scroll;font-family:Consolas,'Courier New',monospace;font-size:medium}
#customDialogBackdrop{position:fixed;top:0;left:0;background-color:rgba(0,0,0,.7);width:100%;height:100%;z-index:100}
#customDialog{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);margin:auto;width:300px;background-color:#fff;padding:10px;border-radius:20px}
.customDialogTitle{display:block;margin:4px 6px;font-weight:700}
.customDialogMessage{margin:4px 6px;font-style:italic;max-height:60vh;overflow:auto}
#customDialogInput{margin:5px;padding:0 3px;border:1px solid #333;border-radius:5px;font-size:18px;line-height:1.5;width:280px}
.customDialogButtons{display:flex;flex-flow:row-reverse nowrap;justify-content:space-between}
#customDialogOkay{order:-1}